.dialogue {
  position: absolute;
  cursor: pointer;
  top: 1080px;
  left: 520px;
  width: 165px;
  padding: 80px 20px;
  background: #a4f5ff;
  -webkit-border-radius: 220px / 100px;
  -moz-border-radius: 120px / 100px;
  border-radius: 120px / 100px;
  position: relative;
}

.dialogue span {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  background: #a4f5ff;
  overflow: hidden;
  position: absolute;
}

.dialogue span.bot {
  position: absolute;
  width: 30px;
  height: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  left: 10px;
  bottom: -20px;
}
