.background {
  position: relative;
  background-color: #00192d;
  width: 735px;
  height: 2500px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.space {
  position: relative;
  background-image: url("../img/space.png");
  background-size: contain;
  width: 735px;
  height: 1218px;
  z-index: 2;
}

.container .displayCoins {
  position: absolute;
  left: 35px;
  top: 30px;
}

.container .displayGems {
  position: absolute;
  left: 35px;
  top: 100px;
}

.container .activity {
  position: absolute;
  left: 325px;
  top: 30px;
}

.container .bank {
  position: absolute;
  left: 540px;
  top: 80px;
}

.container .eventText {
  position: absolute;
  left: 35px;
  top: 170px;
}

.container .greenPosition {
  position: absolute;
  left: 80px;
  top: 490px;
}

.container .redPosition {
  position: absolute;
  left: 360px;
  top: 490px;
}

.container .brownPosition {
  position: absolute;
  left: 190px;
  top: 820px;
}

.container .pinkPosition {
  position: absolute;
  left: 505px;
  top: 790px;
}

.container .eventUFO {
  position: absolute;
  top: 895px;
  left: 40px;
}

.container .spaceman {
  position: absolute;
  left: 150px;
  top: 1100px;
}

.container .chestMessage {
  position: absolute;
  left: 320px;
  top: 1530px;
}

.container .stockRoom {
  position: absolute;
  left: 70px;
  top: 1630px;
}

.container .returnData {
  position: absolute;
  left: 200px;
  top: 1720px;
}

.container .border1 {
  position: absolute;
  left: 55px;
  top: 1820px;
}
.container .border2 {
  position: absolute;
  left: 380px;
  top: 1820px;
}

.container .notice {
  position: absolute;
  left: 70px;
  top: 1920px;
}

.container .point {
  position: absolute;
  left: 320px;
  top: 2020px;
}

/* ===== green button ===== */
.container #green .chest {
  position: absolute;
  top: 380px;
  left: 85px;
  z-index: 1;
}

.container #green .startButton {
  position: relative;
  background-color: transparent;
  top: 335px;
  left: 95px;
  font-size: 25px;
  color: white;
  border: 2px solid red;
  z-index: 1;
}

.container #green .upgradeButton {
  position: relative;
  background-color: transparent;
  top: 335px;
  left: 135px;
  font-size: 25px;
  color: white;
  border: 2px solid red;
  z-index: 1;
}

.container #green .greenReadyButton .greenReady {
  position: relative;
  top: 350px;
  left: 0px;
  z-index: 1;
}

.container #green .greenReadyButton .readyButton {
  position: relative;
  background-color: transparent;
  top: 150px;
  left: 140px;
  font-size: 25px;
  color: white;
  border: 2px solid red;
  z-index: 1;
}

/* ===== red button ===== */
.container #red .chest {
  position: absolute;
  top: 380px;
  left: 370px;
  z-index: 1;
}

.container #red .upgradeButton {
  position: relative;
  background-color: transparent;
  top: 330px;
  left: 460px;
  font-size: 25px;
  color: white;
  border: 2px solid red;
  z-index: 1;
}

/* ===== brown button ===== */
.container #brown .chest {
  position: absolute;
  top: 710px;
  left: 200px;
  z-index: 1;
}

.container #brown .upgradeButton {
  position: relative;
  background-color: transparent;
  top: 660px;
  left: 290px;
  font-size: 25px;
  color: white;
  border: 2px solid red;
  z-index: 1;
}

/* ===== pink button ===== */
.container #pink .chest {
  position: absolute;
  top: 680px;
  left: 515px;
  z-index: 1;
}

.container #pink .upgradeButton {
  position: relative;
  background-color: transparent;
  top: 630px;
  left: 605px;
  font-size: 25px;
  color: white;
  border: 2px solid red;
  z-index: 1;
}

.container #green .greenReady {
  position: relative;
  top: 630px;
  left: 605px;
}
