.container #brown .countdown,
.container #green .countdown,
.container #brown .countdown,
.container #pink .countdown {
  left: 16px;
  z-index: 2;
}

.container .countdown.font {
  position: absolute;
  font-family: "微軟正黑體", monospace;
  color: orange;
  font-size: 24px;
  font-weight: 500;
  width: 210px;
}
