.container .spaceman {
  position: absolute;
  left: 170px;
  top: 1080px;
}

.container #award.cycle-slideshow {
  position: absolute;
  left: 30px;
  top: 1150px;
}

.container article .text {
  position: absolute;
  right: 50px;
  top: 1150px;
  font-size: 20px;
  font-family: "微軟正黑體", monospace;
  font-weight: bolder;
  color: rgb(62, 5, 5);
  z-index: 2;
}

.container article .detailBtn {
  position: absolute;
  top: 1220px;
  left: 550px;
  z-index: 2;
  outline: none;
  cursor: pointer;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.container article .detailBtn:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
