.container #green .countdown {
  top: 25px;
  left: 25px;
}

.container #red .countdown {
  top: 20px;
  left: 20px;
}

.container #brown .countdown {
  top: 0px;
  left: 25px;
}

.container #pink .countdown {
  top: 0px;
  left: 25px;
}

.container .countdown.font {
  position: absolute;
  font-family: "微軟正黑體";
  color: white;
  font-size: 26px;
  font-weight: bolder;
}
