.container .countingAwardsArticle .fa.fa-mail-forward {
  position: absolute;
  cursor: pointer;
  top: 1890px;
  right: 0px;
  font-size: 40px;
  color: rgb(152, 219, 239);
}

.container .countingAwardsArticle .fa.fa-mail-reply {
  position: absolute;
  cursor: pointer;
  top: 1890px;
  left: 0px;
  font-size: 40px;
  color: rgb(152, 219, 239);
}

.container .countingAwards .awardBox .box1 {
  position: absolute;
  background-image: url("../img/border.png");
  width: 313px;
  height: 83px;
  left: 50px;
  top: 1720px;
  z-index: 2;
}

.container .countingAwards .awardBox .box3 {
  position: absolute;
  background-image: url("../img/border.png");
  width: 313px;
  height: 83px;
  left: 50px;
  top: 1820px;
  z-index: 2;
}

.container .countingAwards .awardBox .box5 {
  position: absolute;
  background-image: url("../img/border.png");
  width: 313px;
  height: 83px;
  left: 50px;
  top: 1920px;
  z-index: 2;
}

.container .countingAwards .awardBox .box7 {
  position: absolute;
  background-image: url("../img/border.png");
  width: 313px;
  height: 83px;
  left: 50px;
  top: 2020px;
  z-index: 2;
}

.container .countingAwards .awardBox .box2 {
  position: absolute;
  background-image: url("../img/border.png");
  width: 313px;
  height: 83px;
  left: 380px;
  top: 1720px;
  z-index: 2;
}

.container .countingAwards .awardBox .box4 {
  position: absolute;
  background-image: url("../img/border.png");
  width: 313px;
  height: 83px;
  left: 380px;
  top: 1820px;
  z-index: 2;
}

.container .countingAwards .awardBox .box6 {
  position: absolute;
  background-image: url("../img/border.png");
  width: 313px;
  height: 83px;
  left: 380px;
  top: 1920px;
  z-index: 2;
}

.container .countingAwards .awardBox .box8 {
  position: absolute;
  background-image: url("../img/border.png");
  width: 313px;
  height: 83px;
  left: 380px;
  top: 2020px;
  z-index: 2;
}

/* ===============> awardBox2 <================ */
.container .countingAwards .awardBox2 .box9 {
  position: absolute;
  background-image: url("../img/border.png");
  width: 313px;
  height: 83px;
  left: 50px;
  top: 1720px;
  z-index: 2;
}

.container .countingAwards .awardBox2 .box11 {
  position: absolute;
  background-image: url("../img/border.png");
  width: 313px;
  height: 83px;
  left: 50px;
  top: 1820px;
  z-index: 2;
}

.container .countingAwards .awardBox2 .box13 {
  position: absolute;
  background-image: url("../img/border.png");
  width: 313px;
  height: 83px;
  left: 50px;
  top: 1920px;
  z-index: 2;
}

.container .countingAwards .awardBox2 .box15 {
  position: absolute;
  background-image: url("../img/border.png");
  width: 313px;
  height: 83px;
  left: 50px;
  top: 2020px;
  z-index: 2;
}

.container .countingAwards .awardBox2 .box10 {
  position: absolute;
  background-image: url("../img/border.png");
  width: 313px;
  height: 83px;
  left: 380px;
  top: 1720px;
  z-index: 2;
}

.container .countingAwards .awardBox2 .box12 {
  position: absolute;
  background-image: url("../img/border.png");
  width: 313px;
  height: 83px;
  left: 380px;
  top: 1820px;
  z-index: 2;
}

.container .countingAwards .awardBox2 .box14 {
  position: absolute;
  background-image: url("../img/border.png");
  width: 313px;
  height: 83px;
  left: 380px;
  top: 1920px;
  z-index: 2;
}

.container .countingAwards .awardBox2 .box16 {
  position: absolute;
  background-image: url("../img/border.png");
  width: 313px;
  height: 83px;
  left: 380px;
  top: 2020px;
  z-index: 2;
}

.container .countingAwards .box1 span,
.container .countingAwards .box2 span,
.container .countingAwards .box3 span,
.container .countingAwards .box4 span,
.container .countingAwards .box5 span,
.container .countingAwards .box6 span,
.container .countingAwards .box7 span,
.container .countingAwards .box8 span,
.container .countingAwards .box9 span,
.container .countingAwards .box10 span,
.container .countingAwards .box11 span,
.container .countingAwards .box12 span,
.container .countingAwards .box13 span,
.container .countingAwards .box14 span,
.container .countingAwards .box15 span,
.container .countingAwards .box16 span {
  position: absolute;
  font-family: "微軟正黑體";
  font-size: 20px;
  color: white;
  top: 15px;
  right: 70px;
}

.container .countingAwards .box1 h1 span,
.container .countingAwards .box2 h1 span,
.container .countingAwards .box3 h1 span,
.container .countingAwards .box4 h1 span,
.container .countingAwards .box5 h1 span,
.container .countingAwards .box6 h1 span,
.container .countingAwards .box7 h1 span,
.container .countingAwards .box8 h1 span,
.container .countingAwards .box9 h1 span,
.container .countingAwards .box10 h1 span,
.container .countingAwards .box11 h1 span,
.container .countingAwards .box12 h1 span,
.container .countingAwards .box13 h1 span,
.container .countingAwards .box14 h1 span,
.container .countingAwards .box15 h1 span,
.container .countingAwards .box16 h1 span {
  position: absolute;
  font-family: "微軟正黑體";
  font-size: 32px;
  color: white;
  top: 15px;
  right: 25px;
}

.countingAwards li img {
  width: 85px;
  height: 85px;
  border: none;
}
