.background {
  position: relative;
  background-color: #00192d;
  width: 735px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.container .space {
  position: relative;
  background-image: url("../img/space.png");
  background-size: contain;
  width: 735px;
  height: 1218px;
  z-index: 2;
}

.container .space button {
  cursor: pointer;
}

.container .activity {
  position: absolute;
  left: 325px;
  top: 30px;
}

.container .bank {
  position: absolute;
  left: 540px;
  top: 80px;
}

.container .bankLogout {
  position: absolute;
  left: 540px;
  top: 80px;
}

.container .eventText {
  position: absolute;
  left: 35px;
  top: 170px;
}

.container .greenPosition {
  position: absolute;
  left: 80px;
  top: 490px;
}

.container .redPosition {
  position: absolute;
  left: 360px;
  top: 490px;
}

.container .brownPosition {
  position: absolute;
  left: 190px;
  top: 820px;
}

.container .pinkPosition {
  position: absolute;
  left: 505px;
  top: 790px;
}

.container .eventUFO {
  position: absolute;
  top: 920px;
  left: 40px;
}

.container .chestMessage {
  position: absolute;
  left: 320px;
  top: 1530px;
}

.container .stockRoom {
  position: absolute;
  left: 70px;
  top: 1630px;
}

.container .returnAwardBtn {
  position: absolute;
  left: 200px;
  top: 2120px;
  cursor: pointer;
  outline: none;
}

/* 注意事項 */
.container .notice {
  position: absolute;
  left: 70px;
  top: 2220px;
}

.container .message .textMessage {
  position: absolute;
  font-size: 18px;
  font-family: "微軟正黑體", monospace;
  color: white;
  left: 10px;
  top: 2320px;
  z-index: 2;
}

.container #down-button {
  position: absolute;
  background-color: #008cba;
  color: white;
  outline: none;
  cursor: pointer;
  left: 300px;
  top: 2900px;
  height: 30px;
  width: 140px;
  font-size: 16px;
  z-index: 2;
  border: 2px solid rgb(2, 49, 91);
}

.container #up-button {
  position: absolute;
  background-color: #008cba;
  color: white;
  outline: none;
  cursor: pointer;
  left: 300px;
  top: 5430px;
  height: 30px;
  width: 140px;
  font-size: 16px;
  z-index: 2;
  border: 2px solid rgb(2, 49, 91);
}

/* 注意事項 */

/* 使用者的e幣跟寶石 */
.container .space .coins {
  position: absolute;
  background-image: url("../img/displayCoins.png");
  left: 35px;
  top: 30px;
  width: 187px;
  height: 61px;
}

.container .space .coins span,
.container .space .gems span {
  position: absolute;
  top: 11.5px;
  right: 20px;
  font-size: 26px;
  font-family: "微軟正黑體";
  font-weight: bolder;
  color: rgb(69, 23, 23);
}

.container .space .gems {
  position: absolute;
  background-image: url("../img/displayGems.png");
  left: 35px;
  top: 100px;
  width: 184px;
  height: 57px;
}

/* 使用者的e幣跟寶石 */
